// Couleurs principales
$vin-de-ruelle: #6C0043;
$cheddar-grille: #DD6B12;
$fromage-frais: #FFF8DD;
$nuage-de-lait: #FFFEFA;
$croute-doree: #F7C666;
$figue-facade: #A94E86;
$souterrain-chic: #1A0010;

// Typo
$font-hind: 'Hind Siliguri', sans-serif;
$font-size-body: 18px;
$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 24px;

// Divers
$radius: 12px;
$breakpoint-mobile: 768px;

